<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>hdiv-symfony-showcase</title>
    <!-- Mobile specific metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1 user-scalable=no">
    <!-- Force IE9 to render in normal mode -->
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="application-name" content="" />
    <!-- Import google fonts - Heading first/ text second -->
    <link href='http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Css files -->
    <!-- Icons -->
    <link href="{{ asset('bundles/hdivapp/css/icons.css') }}" rel="stylesheet" />
    <!-- Bootstrap stylesheets (included template modifications) -->
    <link href="{{ asset('bundles/hdivapp/css/bootstrap.css') }}" rel="stylesheet" />
    <!-- Plugins stylesheets (all plugin custom css) -->
    <link href="{{ asset('bundles/hdivapp/css/plugins.css') }}" rel="stylesheet" />
    <!-- Main stylesheets (template main css file) -->
    <link href="{{ asset('bundles/hdivapp/css/main.css') }}" rel="stylesheet" />
    <!-- Custom stylesheets ( Put your own changes here ) -->
    <link href="{{ asset('bundles/hdivapp/css/custom.css') }}" rel="stylesheet" />
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/hdivapp/img/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/hdivapp/img/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/hdivapp/img/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/hdivapp/img/ico/apple-touch-icon-57-precomposed.png') }}">
    <link rel="icon" href="{{ asset('bundles/hdivapp/img/ico/favicon.ico') }}" type="image/png">
    <!-- Windows8 touch icon ( http://www.buildmypinnedsite.com/ )-->
    <meta name="msapplication-TileColor" content="#3399cc" />
</head>
<body class=" fixed-header fixed-left-sidebar fixed-right-sidebar pace-done">
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}


<script src="{{ asset('bundles/hdivapp/plugins/core/pace/pace.min.js') }}"></script>
<!-- Important javascript libs(put in all pages) -->
<script src="{{ asset('bundles/hdivapp/js/jquery-2.1.1.min.js') }}"></script>
<script>
    window.jQuery || document.write('<script src="{{ asset('bundles/hdivapp/js/jquery-2.1.1.min.js') }}">\x3C/script>')
</script>
<script src="{{ asset('bundles/hdivapp/js/jquery-ui.js') }}"></script>
<script>
    window.jQuery || document.write('<script src="{{ asset('bundles/hdivapp/js/libs/jquery-ui-1.10.4.min.js') }}">\x3C/script>')
</script>
<!--[if lt IE 9]>
<script type="text/javascript" src="{{ asset('bundles/hdivapp/js/libs/excanvas.min.js') }}"></script>
<script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<script type="text/javascript" src="{{ asset('bundles/hdivapp/js/libs/respond.min.js') }}"></script>
<![endif]-->
<!-- Bootstrap plugins -->
<script src="{{ asset('bundles/hdivapp/js/bootstrap/bootstrap.js') }}"></script>
<!-- Core plugins ( not remove ) -->
<script src="{{ asset('bundles/hdivapp/js/libs/modernizr.custom.js') }}"></script>
<!-- Handle responsive view functions -->
<script src="{{ asset('bundles/hdivapp/js/jRespond.min.js') }}"></script>
<!-- Custom scroll for sidebars,tables and etc. -->
<script src="{{ asset('bundles/hdivapp/plugins/core/slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/core/slimscroll/jquery.slimscroll.horizontal.min.js') }}"></script>
<!-- Remove click delay in touch -->
<script src="{{ asset('bundles/hdivapp/plugins/core/fastclick/fastclick.js') }}"></script>
<!-- Increase jquery animation speed -->
<script src="{{ asset('bundles/hdivapp/plugins/core/velocity/jquery.velocity.min.js') }}"></script>
<!-- Quick search plugin (fast search for many widgets) -->
<script src="{{ asset('bundles/hdivapp/plugins/core/quicksearch/jquery.quicksearch.js') }}"></script>
<!-- Bootbox fast bootstrap modals -->
<script src="{{ asset('bundles/hdivapp/plugins/ui/bootbox/bootbox.js') }}"></script>
<!-- Other plugins ( load only nessesary plugins for every page) -->
<script src="{{ asset('bundles/hdivapp/js/libs/date.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/charts/flot/jquery.flot.custom.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/charts/flot/jquery.flot.pie.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/charts/flot/jquery.flot.resize.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/charts/flot/jquery.flot.time.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/charts/flot/jquery.flot.growraf.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/charts/flot/jquery.flot.categories.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/charts/flot/jquery.flot.stack.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/charts/flot/jquery.flot.orderBars.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/charts/flot/jquery.flot.tooltip.min.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/charts/flot/jquery.flot.curvedLines.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/charts/sparklines/jquery.sparkline.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/charts/progressbars/progressbar.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/ui/waypoint/waypoints.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/ui/weather/skyicons.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/ui/notify/jquery.gritter.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/misc/vectormaps/jquery-jvectormap-1.2.2.min.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/misc/vectormaps/maps/jquery-jvectormap-world-mill-en.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/plugins/misc/countTo/jquery.countTo.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/js/jquery.dynamic.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/js/main.js') }}"></script>
<script src="{{ asset('bundles/hdivapp/js/pages/dashboard.js') }}"></script>
</body>
</html>
